{% extends 'templates/app.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Inscription
                </div>
                <div class="panel-body">
                    <form action="{{ path_for('auth.signup') }}" method="post" autocomplete="off">
                        {{ csrf.field | raw }}
                        <div class="form-group  {{ errors.email ? 'has-error' : '' }}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" value="{{ old.email }}" class="form-control"
                                   placeholder="votreemail@domain.com">
                            {% if errors.email %}
                                <span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {{ errors.name ? 'has-error' : '' }}">
                            <label for="name">Nom</label>
                            <input type="text" name="name" id="name" value="{{ old.name }}" class="form-control" >
                            {% if errors.name %}
                                <span class="help-block">{{ errors.name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group {{ errors.password ? 'has-error' : '' }}">
                            <label for="password">Mot de Passe</label>
                            <input type="password" name="password" id="password" class="form-control">
                            {% if errors.password %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                        <button class="btn btn-default" type="submit">Enregistrer</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}